/* colors:

color: rgb(255, 255, 255);
background-color: #fbeafc;
background-color: rgb(223, 217, 217);
background-color: #f8f8f8;

background-color: rgb(62, 9, 88);
background: rgb(46, 7, 65);
   color: rgb(112, 77, 128);

*/


/* fonts */
.parent {
  font-family: 'Noto Serif', serif;
}

@font-face {
  font-family: 'Noto Serif', serif;
  src: url(https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap)
}
@font-face {
  font-family: 'Redressed', cursive;
  src: url(https://fonts.googleapis.com/css2?family=Redressed&display=swap)
}



/* Grid CSS */

.parent {
  
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 100px 800px 200px;
  grid-template-areas: 
    "h h h h h h h h h h h h"
    "r r c c c c c c c c c c"
    "r r f f f f f f f f f f";
}
  
  .header {
  grid-area: h;
  }

  .welcome { 
    grid-area: 2 / 1 / -3 / -1; 
  }

  .reading-container {
    grid-area: r;
  }

  .card-container, .reading-card, .home-card {
    grid-area: c;
  }

  .reading-form {
    grid-area: f
  }

  .learn-more { 
    grid-area: 2 / 3 / -1 / -1;
  } 

  



/* Component Styling */

/* Header CSS */

/* .home-card{
  background-color:  #fbeafc;
} */

  .header {
    background: rgb(46, 7, 65);
    color: #fbeafc;
    padding: 5px;
  }

  .header button {
    position: absolute;
    top:45px;
    right: 1em;
    margin: 5px;
  }

  .header img {
    height: 70px;
    margin: 7px; 
    display: inline-block;
  }


  .welcome-header { 
    display: inline-block;
    margin-left: 200px;
  }
  .welcome{
    background-image: url("https://i.imgur.com/tjN2Cx3.png");
    background-position: top;
  }

  .app-name {
    display: inline-block;
    font-family: 'Redressed', cursive;
    margin: 7px;
    font-size: 40px;
  }
  .app-name-home {
    font-family: 'Redressed', cursive;
    font-size: 50px;
  }

  .logout-button {
    font-family: 'Noto Serif', serif;
    background-color: #fbeafc;
    border-style: solid;
    border-width: 2px;
    border-color:  rgb(62, 9, 88);
    color: rgb(26, 26, 26);
    font-size: 15pt;
    padding: 7px 10px;
    margin: 7px 30px;
    cursor: pointer;
    border-radius: 4px;
    /* display: inline; */
    position: absolute;
    top:35px;
    right: 0;
    
  }

  .logout-button:hover {
    background-color: rgb(62, 9, 88);
    color: #fbeafc;
    transition: 1s;
}

  .app-name{
    display: inline-block;
  }


  /* Cards CSS */

  .card-container h1 {
    margin: 15px
  }
  
  .inner-card-container{ /*in card container rendercards function*/
    display: flex;
    flex-wrap: wrap;
    flex-flow: row; 
    margin: 10px;
  }
  

  .card-button { /*draw card button*/
    font-family: 'Noto Serif', serif;
    background-color: #fbeafc;
    border-style: solid;
    border-width: 2px;
    border-color:  rgb(62, 9, 88);
    color: rgb(26, 26, 26);
    font-size: 15pt;
    padding: 10px 12px;
    margin: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
    display: inline;
  }

  .card-button:hover {
    background-color: rgb(62, 9, 88);
    color: #fbeafc;
    transition: 1s;
}

.meaning-title {
  text-align: center;
}

  .meaning-div {
    text-align: center;
    overflow: auto;
    height: 200px;
    max-width: 200px;
    margin-left: 75px;
  }
  
  /* Flip Card CSS */
  
  .flip-card {
    background-color: transparent;
    perspective: 1000px;
    
    /* margin: 15px */
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    margin: 20px;
    /* padding: 25px */
  }
  
  .flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
  }
  
  .flip-card-back {
    color: black;
  }

  .flip-card-front {
    transform: rotateY(180deg);
  }

  /* End Flip Card CSS */
  /* End Card CSS */


  /* Reading CSS */

  
  .reading-title {
    font-family: 'Redressed', cursive;
    font-size: 40px;
  }
  .reading-container {
    color:rgb(0, 0, 0);
    background-image: url("https://i.imgur.com/tjN2Cx3.png");
    background-position: top;
    text-align: center;
  }
  .reading-container a:hover {
    color: rgb(112, 77, 128);
  }

  .reading-form {
    /* background: #fbeafc; */
    color: #fbeafc;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    text-align: center;
    height: auto;
    
  }

  .reading-name {
    background-color: none;    
  }


  .reading-card h3, h4 {
    text-align: justify;
    padding-left: 20px;
  }

  /* End Reading CSS */

  /* Learn More CSS */


.learn-more{
  margin-left: 10%;
  margin-right: 10%;
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word
  
}

.learn-more ul {
  list-style: none;
}

.learn-more ul li::before {content: "▪"; color: rgb(62, 9, 88);
  display: inline-block; width: 1em;
  margin-left: -1em
}

.learn-more p a {
color: black
}

/* End Learn More CSS */

  
  /* Inputs and Buttons CSS */

  .header a {
    color: rgb(255, 255, 255);
  }
  
  a {
    color: rgb(29, 29, 29);
    text-decoration: none;
  }

  .learn-more a {
    color: rgb(62, 9, 88);
  }

  .learn-more a:hover {
    color: rgb(220, 136, 253);
  }

  textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    border-radius: 4px;
    background-color: #f8f8f8;
    border: 1px solid #888;
  }

  input[type=text], [type=password]{
    width: 30%;
    height: 20px;
    margin: 10px;
    padding: 12px 20px;
    margin: 4px 10px 4px 10px;
    border-radius: 4px;
    border: 1px solid #888;
    background-color: #f8f8f8;
  }

  .submit-button {    /* class controls create reading/hide form and save reading buttons*/
    font-family: 'Noto Serif', serif;
    background-color: #fbeafc;
    border: rgb(62, 9, 88);
    color: rgb(46, 7, 65);
    font-size: 15pt;
    padding: 8px 8px;
    margin: 20px 10px 10px 10px;
    cursor: pointer;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px; 
  }

  .submit-button:hover {
    background-color: rgb(62, 9, 88);
    color: #fbeafc;
    transition: 1s;
}

  button:focus {outline:0;}
  
  /* Modal CSS */

  .modal {
    /* display: none; */
    position: fixed; 
    z-index: 1;  
    padding-top: 300px;/* Location of the box */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  }

  .modal-content {
    background-color: rgb(223, 217, 217);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: auto;
    text-align: center;
    color: black;
  }
 


