
/* Parent CSS */
.parent {
  background-color: rgb(250, 240, 255);
  font-family: 'Noto Serif', serif;
}

@font-face {
  font-family: 'Noto Serif', serif;
  src: url(https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap)
}
@font-face {
  font-family: 'Redressed', cursive;
  src: url(https://fonts.googleapis.com/css2?family=Redressed&display=swap)
}



/* Grid CSS */

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(15, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  
  }
  
  .header { grid-area: 1 / 1 / 2 / 7; }
  .reading-container { grid-area: 2 / 1 / 15 / 2; }
  .card-container { grid-area: 2 / 2 / 9 / 7; }
  .home-card { grid-area: 2 / 2 / 9 / 7; }
  .learn-more { grid-area: 2 / 2 / 14 / 7; }
  .reading-card { grid-area: 2 / 2 / 10 / 7; }
  .welcome { grid-area: 2 / 1 / 13 / 7; }
  .reading-form { grid-area: 9 / 2 / 15 / 7; }

/* Component Styling */

/* Header CSS */

.home-card{
  background-color: rgb(253, 250, 255);
}

  .header {
    background: rgb(46, 7, 65);
    color:rgb(238, 238, 238);
    /* padding-left: 10px; */
  }


  .welcome-header { 
    display: inline-block;
    /* margin-left: 550px; */
  }
  .welcome{
    background-image: url("https://i.imgur.com/tjN2Cx3.png");
    background-position: top;
  }

  .app-name {
    display: inline-block;
    font-family: 'Redressed', cursive;
    font-size: 40px;
  }
  .app-name-home {
    font-family: 'Redressed', cursive;
    font-size: 50px;
  }

  .logout-button {
    font-family: 'Noto Serif', serif;
    background-color: #fbeafc;
    border-style: solid;
    border-width: 2px;
    border-color:  rgb(62, 9, 88);
    color: rgb(26, 26, 26);
    font-size: 15pt;
    padding: 7px 10px;
    margin: 7px 30px;
    cursor: pointer;
    border-radius: 4px;
    display: inline;
    
  }

  .logout-button:hover {
    background-color: rgb(62, 9, 88);
    color: rgb(247, 228, 255);
    transition: 1s;
}

  .app-name{
    display: inline-block;
  }


  /* Cards CSS */

  .card-container h1 {
    margin: 15px
  }
  
  .inner-card-container{ /*in card container rendercards function*/
    display: flex;
    flex-wrap: wrap;
    flex-flow: row; 
    margin: 10px;
  }

  

  .card-button { /*draw card button*/
    font-family: 'Noto Serif', serif;
    background-color: #fbeafc;
    border-style: solid;
    border-width: 2px;
    border-color:  rgb(62, 9, 88);
    color: rgb(26, 26, 26);
    font-size: 15pt;
    padding: 10px 12px;
    margin: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
  }

  .card-button:hover {
    background-color: rgb(62, 9, 88);
    color: rgb(247, 228, 255);
    transition: 1s;
}

  .meaning-div {
    overflow: auto;
    height: 150px;
    max-width: 200px;
    margin: 15px 15px;
  }
  
  /* Flip Card CSS */
  
  .flip-card {
    background-color: transparent;
    perspective: 1000px;
    
    /* margin: 15px */
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    margin: 20px;
    /* padding: 25px */
  }
  
  .flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
  }
  
  .flip-card-back {
    color: black;
  }

  .flip-card-front {
    transform: rotateY(180deg);
  }

  /* End Flip Card CSS */
  /* End Card CSS */


  /* Reading CSS */

  
  .reading-title {
    font-family: 'Redressed', cursive;
    font-size: 40px;
  }
  .reading-container {
    color:rgb(0, 0, 0);
    background-image: url("https://i.imgur.com/tjN2Cx3.png");
    background-position: top;
    text-align: center;
  }
  .reading-container a:hover {
    color: rgb(112, 77, 128);
  }

  .reading-form {
    background: rgb(255, 251, 248);
    color:aliceblue;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    text-align: center;
    
  }

  .reading-name {
    background-color: rgba(255, 255, 255, 0.7)     
  }

  /* End Reading CSS */

  /* Learn More CSS */


.learn-more{
  margin-left: 10%;
  margin-right: 10%;
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word
  
}

.learn-more ul {
  list-style: none;
}

.learn-more ul li::before {content: "▪"; color: rgb(109, 34, 128);
  display: inline-block; width: 1em;
  margin-left: -1em
}

.learn-more p a {
color: black
}

/* End Learn More CSS */

  
  /* Inputs and Buttons CSS */

  .header a {
    color: rgb(255, 255, 255);
  }
  
  a {
    color: rgb(29, 29, 29);
    text-decoration: none;
  }

  .learn-more a {
    color: rgb(81, 16, 107);
  }

  .learn-more a:hover {
    color: rgb(220, 136, 253);
  }

  textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    border-radius: 4px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
  }

  input[type=text], [type=password]{
    width: 30%;
    height: 20px;
    margin: 10px;
    padding: 12px 20px;
    margin: 4px 10px 4px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
  }

  .submit-button {    /* class controls create reading/hide form and save reading buttons*/
    font-family: 'Noto Serif', serif;
    background-color: #fbeafc;
    border: rgb(43, 43, 43);
    color: rgb(46, 7, 65);
    font-size: 15pt;
    padding: 8px 8px;
    margin: 0px 10px 10px 10px;
    cursor: pointer;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    border-color:  rgb(62, 9, 88);
  }

  .submit-button:hover {
    background-color: rgb(62, 9, 88);
    color: rgb(247, 228, 255);
    transition: 1s;
}

  button:focus {outline:0;}
  
  /* Modal CSS */

  .modal {
    /* display: none; */
    position: fixed; 
    z-index: 1;  
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  /* .off{

    opacity: 0;
    visibility: hidden;
    filter: blur(8px);
    transform: scale(0.33);
    box-shadow: 1rem 0 0 rgba(black, 0.2); 
  }
    @supports (offset-rotate: 0deg) {
      
      offset-rotation: 0deg;
      
      offset-rotate: 0deg;
      offset-path: path("M 250,100 S -300,500 -700,-200");
      .off {
        offset-distance: 100%;
      }
    }
    @media (prefers-reduced-motion) {
      offset-path: none;
    } */

  

/* code cemetery */

  /* .card-card {
    max-height: 450px;
    display: inline-block;
    width: 350px;
    text-align: justify;
    text-justify: inter-word;
    overflow: auto;
  } */

  /* .card-img{
    text-align: center;
    
     max-height: 450px;
   } 
   
   /* box-shadow: 0 4px 8px 0 rgba(129, 122, 122, 0.2); */
   
   