
/* Grid CSS */

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 17px;
  grid-row-gap: 0px;
  }
  
  .header { grid-area: 1 / 1 / 2 / 6; }
  .reading-container { grid-area: 2 / 1 / 8 / 2; }
  .comment-card { grid-area: 6 / 2 / 8 / 5; }
  .card-container { grid-area: 2 / 2 / 6 / 5; }

/* Header Styling */
  
  .header {
    background: rgb(204, 66, 204);
    color:aliceblue;
    padding-left: 10px;
  }

  .reading-container {
    background: rgb(114, 36, 114);
    color:aliceblue;
  }

  .comment-card {
    background: rgb(68, 35, 121);
    color:aliceblue;
  }